body {
  background-color: #00008B;
    font-size: 18px;
  color:#e6ecff;
  text-align: center;
}
h1{
  color: yellow
}
h2 {
  color: yellow
}
header {
  background-color: #111a3d;
    border: 2px solid #89a8ff;
}
main {
  background-color: #0f1633;
}

footer {
  background-color: #111a3d;
    border: 2px solid #89a8ff;
}
img {
  background-color: #111a3d;
    border: 2px solid #89a8ff;
}
  
